{% extends "site_base.html" %}
{% load i18n %}
{% load maps_tags %}
{% load layers_tags %}
{% load pagination_tags %}
{% load staticfiles %}
{% load url from future %}

{% block title %} {% trans "Welcome!" %} - {{ block.super }} {% endblock %}

{% block body_class %}home{% endblock %}

{% block body_outer %}
<div class="span12">
  {% block hero %}
  <div class="hero-unit">
    <h1>Welcome to the WebGIS of <a href="http://www.uni-goettingen.de/en/310995.html">CRC 990</a></h1>
    <div class="hero-unit-content">
      <div class="intro">
       <p>The EFForTS-WebGIS is a platform for exchanging spatial data among other CRC-990 researchers, for visualizing spatial data and to create maps which can be shared within the research groups or made publicly available. With the new service we hope to provide an easy to use platform also for "non-GIS" experts to work with spatial data, to increase the data consistency of the CRC subprojects and to facilitate cooperation by visualizing where we work and what is observed.</p> 
         <div class="index-logo"></div>        
      </div>
       <div class="btns">
        <a class="btn btn-large" href="{% url "layer_browse" %}">
          {% trans "Explore Layers" %}
        </a>
        <a class="btn btn-large" href="{% url "maps_browse" %}">
          {% trans "Explore Maps" %}
        </a>
		{% if request.user.is_authenticated %}
		<a href="{% url "data_upload" %}" class="btn btn-large">{% trans 'Upload Layers' %}</a>
		<a href="{% url "new_map" %}" class="btn btn-large">{% trans 'Create a Map' %}</a>
		{% endif %}
      </div>      
    </div> 
  </div>
  {% endblock %}
  {% block mainbody %}
  <div class="row">
    <div class="span8">
      <section class="widget list paginate-contents">
        <h2>{% trans "Latest Layers" %}</h2>
        <div class="paginate paginate-auto" id="search-content">
          {% include 'search/search_content.html' %}
        </div>
      </section>
    </div>
    <aside class="span4">

      <div class="well">
        <h2>{% trans "Latest Maps" %}</h2>
        <section class="article-list latest-maps">
          {% featured_maps as featured_maps %}
          {% for map in featured_maps %}
            {% include "maps/_map_list_item.html" %}
          {% endfor %}
        </section>
      </div>
    </aside>
  </div>
  {% endblock %}
</div>
{% endblock %}

{% block extra_script %}  
  {% include 'search_scripts.html' %}
{% endblock extra_script %}
