.index-logo {
    width: 920px;
    height: 115px;
    background: url(../img/header.jpg) no-repeat;
	margin-bottom: 12px;
}

.content-wrap {
	background: #FFF;
	padding: 30px 0 0 20px;
	width: 980px;
	min-height: 400px;
	margin: 50px auto 30px;
}

.nav-box {
	width: 750px;
	background: #386638;
	float: right;
	padding-top: 8px;
}
.navbar .navbar-inner {
	background: #b6c931;
	color: #FFF;
	text-transform: none;
}

.nav-logo {
    width: 82px;
    height: 100px;
    background: url(../img/logo.png) no-repeat;
}
nav.main-nav {
	margin: 4px 18px 2px 0px;
}

nav.main-nav ul li a:hover {
	text-decoration: none;
	font-weight: 400;
	color: #f7931e;
}
nav.main-nav ul li a {
	border: 0;
	color: #FFFFFF;
	display: block;
	float: right;
	text-transform: none;
	font-size: 14px;

}

.span10 {
	width: 350px;
}

.place-left {
	float: left;
}

.place-right {
	float: right;
	margin-top: 63px;
}

.span9 {
	width: 500px;
	float: right;
}

footer.footer {
	background: #b6c931;
}

#slide-pane h2 {
	font-size: 14px;
	color: #FFF;
	background-color: #386638;
	text-transform: none;
}
section.widget h2 {
	font-size: 14px;
	color: #FFF;
	background-color: #386638;
}

a:hover, a:focus {
	color: #3B49B3;
	text-decoration: underline;
}

a {
	color: #3B49B3;
	text-decoration: none;
}

.btn-group>.btn, .btn-group>.dropdown-menu, .btn-group>.popover {
	font-size: 14px;
}

.language {
	background: transparent;
	color: b6c931;
	margin-bottom: -20px;
	padding: 0;
}

.hero-unit .intro {
	float: left;
	width: 100%;
}

.hero-unit .btns {
	float: left;
	width: 100%;
	text-align: left;
}

.btns a.btn-large {
	font-size: 16px !important;
	margin: 0px 8px 0px 16px !important;
	width: 160px !important;
	font-weight:500 !important;
}

.btn {
background: #b6c931;
}

.span12 {
margin-top: 15px;
}