.nav-box {
	background: #386638;
}
.navbar .navbar-inner {
	background: #b6c931;
	color: #FFF;
	text-transform: none;
}

.nav-logo {
    width: 82px;
    height: 100px;
    background: url(../img/logo.png) no-repeat;
}
nav.main-nav ul li a:hover {
text-decoration: none;
color: #F56C1F;
}
nav.main-nav ul li a {
border: 0;
color: #FFFFFF;
display: block;
float: right;
text-transform: none;
font-size: 16px;
padding: 4px 17px;
}

.span10 {
width: 480px;
}


.place-left {
	float: left;
}

.place-right {
	float: right;
}

.span9 {
	width: 500px;
	float: right;
}

.nav-box {
	background: #386638;
	width: 500px;
	float: right;
}

footer.footer {
	background: #b6c931;
}

#slide-pane h2 {
	font-size: 14px;
	color: #FFF;
	background-color: #b6c931;
	text-transform: none;
}

a:hover, a:focus {
	color: #3B49B3;
	text-decoration: underline;
}

a {
	color: #3B49B3;
	text-decoration: none;
}

.btn-group>.btn, .btn-group>.dropdown-menu, .btn-group>.popover {
	font-size: 14px;
}

.language {
	background: transparent;
	color: b6c931;
	margin-bottom: -20px;
	padding: 0;
}
