.nav-box {
background: #386638;
}
.navbar .navbar-inner {
background: #b6c931;
}

footer.footer {
background: #386638;
}

#slide-pane h2 {
font-size: 14px;
color: #FFF;
background-color: #386638;
text-transform: none;
}

a:hover, a:focus {
color: #3B49B3;
text-decoration: underline;
}

a {
color: #3B49B3;
text-decoration: none;
}

.btn-group>.btn, .btn-group>.dropdown-menu, .btn-group>.popover {
font-size: 14px;
}

.language {
background: transparent;
color: white;
margin-bottom: -20px;
padding: 0;
}

.nav>li>a.login {
background: #da4f49;
border: 1px solid #a31616;
font-size: .875em;
font-weight: 600;
margin-bottom: 8px;
margin-top: 5px;
margin-right: 0;
padding: 3px 10px 2px;
text-transform: none;
}